{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "trailingComma": "none"
      }
    }
  ]
}
